<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
    </tr>

  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %> </td>
        <td><%= article.description %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Article', new_article_path %>